/* Reset default margin and padding for the entire page */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Apply a background color to the nav bar */
  nav {
    background-color: #333;
  }
  
  /* Style the unordered list to be displayed horizontally */
  nav ul {
    list-style: none;
    display: flex;
    padding: 10px;
  }
  
  /* Style the list items (links) */
  nav li {
    margin: 0;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
    
  }
  nav li:hover {
    background-color: #555;
  }
  
  /* Style the links */
  nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  }
  
  /* Change link color on hover */
  nav a:hover {
    background-color: #555;
  }
  